.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.field {
  border: 2px solid black;
  width: 600px;
  height: 400px;
  position: relative;
}
img {
  position: absolute;
  width: 100px;
  height: 100px;
  /* top: 20px; */
}
